.expenseCard{
    display: flex;
    flex: auto;
}
.btn__box{
    margin:5px;
    padding: 5px 10px; 
    flex: 1;
    border: 1px solid lightgray;
    border-radius: 6.5px;
    text-align: center;
}
.income{
    color: rgb(10, 223, 10);
}
.expense{
    color: red;
}